<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Twatchat.com</title>

		<!--Loads bootstrap and jQuery(needed for bootstrap)-->
		<script src="external/js/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="external/css/bootstrap.css">
		<script src="external/js/bootstrap.js"></script>

		<!--Loads vue-->
		<script src="external/js/vue.js"></script>

		<!--Loads our own scripts-->
		<script src="cookies.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">

		<meta charset="UTF-8">
	</head>

	<body>
		<div class="container" id="app">
			<h1>Logged in as: {{ myName }}</h1>

			<a href="myProfile.html">
				<button type="button" class="btn btn-primary">My profile</button>
			</a>

			<a href="chat.html">
				<button type="button" class="btn btn-primary">Chatroom</button>
			</a>

			<a href="privateChat.html"  id="dm-link">
				<button type="button" class="btn btn-primary">Private chat</button>
			</a>

			<button type="button" class="btn btn-primary" onclick="logOut()">Log out</button>

			<h1>{{ username }}'s profile</h1>
			<h4>{{ username }}'s profile messages:</h4>
			<ul class="list-group">
				<li class="list-group-item" v-for="msg in messageList">
					{{ msg.message }}
					<br>
					Posted by:  {{ msg.user }}
				</li>
			</ul>

			<form id ="messageForm">
				<div class="form-group">
					<label for="messageInput">Post a message!</label>
					<input type="text" maxlength="140" class="form-control" id="messageInput">
					<button type="button" class="btn btn-primary" onclick="postMessage()">Post message</button>
				</div>
			</form>

			<br>

			<h4>{{ username }}'s friends:</h4>
			<ul class="list-group">
				<li class="list-group-item" v-for="friend in friendList">
					<a :href="'profile.html?user=' + friend">
						{{ friend }}
					</a>
				</li>
			</ul>
		</div>

		<script src="profile.js"></script>
	</body>
</html>
