{% extends "template.html" %}

{% block body %}
	<article>
		<p class="indexText">
			<span class="jumboStyle">About us</span><br>
			We are two students from Sweden enrolling in the course TDP003 which is part of the programme "Innovative Programming" at Linköping University.
			<br>
			<br>
			<td>Email us:</td>
			<br>
			<td><a href="mailto:antsk320@student.liu.se">antsk320@student.liu.se</a></td>
			<br>
			<td><a href="mailto:wilut499@student.liu.se">wilut499@student.liu.se</a></td>
		
		</p>
		<p class="indexText">
			<span class="jumboStyle">About this page</span><br>
			This page serves as a portfolio of all projects we have worked with during our time in university.
			You can search for specific projects here, and find projects based on techniques used.
		</p>
	</article>
	<img src="../static/img/code.jpg" id="mainPic">
{% endblock %}
